# telegram bot

TOKEN=
BOT_USERNAME=

# sheets
ADMIN_GRP=
MASTER_SHEET=
TIMEZONE=

# drive
MEMBER_IMAGES_FOLDER=
GROUP_IMAGES_FOLDER=

# google cloud api service account
type=
project_id=
private_key_id=
private_key=
client_id=
auth_uri=
token_uri=
auth_provider_x509_cert_url=
client_x509_cert_url=
universe_domain=